@font-face {
  font-family: 'icodex-ui-fonts';
  src: url('./font/icodex-ui-fonts.eot?64922807');
  src: url('./font/icodex-ui-fonts.eot?64922807#iefix')
      format('embedded-opentype'),
    url('./font/icodex-ui-fonts.woff2?64922807') format('woff2'),
    url('./font/icodex-ui-fonts.woff?64922807') format('woff'),
    url('./font/icodex-ui-fonts.ttf?64922807') format('truetype'),
    url('./font/icodex-ui-fonts.svg?64922807#icodex-ui-fonts') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icodex-ui-fonts';
    src: url('../font/icodex-ui-fonts.svg?64922807#icodex-ui-fonts') format('svg');
  }
}
*/
[class^='icodex-']:before,
[class*=' icodex-']:before {
  font-family: 'icodex-ui-fonts';
  font-style: normal;
  font-weight: normal;
  

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

icodex-gear:before {
  content: '\e800';
} /* '' */
icodex-file-symlink-file:before {
  content: '\e802';
} /* '' */
icodex-file-diff:before {
  content: '\e803';
} /* '' */
icodex-commit:before {
  content: '\e804';
} /* '' */
icodex-chevron-down:before {
  content: '\e805';
} /* '' */
icodex-arrow-right:before {
  content: '\e806';
} /* '' */
icodex-arrow-left:before {
  content: '\e807';
} /* '' */
icodex-move-to-bottom:before {
  content: '\e808';
} /* '' */
icodex-location:before {
  content: '\e809';
} /* '' */
icodex-link-external:before {
  content: '\e80a';
} /* '' */
icodex-link:before {
  content: '\e80b';
} /* '' */
icodex-key:before {
  content: '\e80c';
} /* '' */
icodex-kebab-horizontal:before {
  content: '\e80d';
} /* '' */
icodex-info:before {
  content: '\e80e';
} /* '' */
icodex-inbox:before {
  content: '\e80f';
} /* '' */
icodex-icodex-arrow-left:before {
  content: '\e810';
} /* '' */
icodex-icodex-alert:before {
  content: '\e811';
} /* '' */
icodex-home:before {
  content: '\e812';
} /* '' */
icodex-git-branch:before {
  content: '\e813';
} /* '' */
icodex-file-zip:before {
  content: '\e814';
} /* '' */
icodex-file-media:before {
  content: '\e815';
} /* '' */
icodex-file-directory:before {
  content: '\e816';
} /* '' */
icodex-file-code:before {
  content: '\e817';
} /* '' */
icodex-diff:before {
  content: '\e818';
} /* '' */
icodex-copy:before {
  content: '\e819';
} /* '' */
icodex-command-palette:before {
  content: '\e81a';
} /* '' */
icodex-codescan:before {
  content: '\e81b';
} /* '' */
icodex-chevron-up:before {
  content: '\e81c';
} /* '' */
icodex-chevron-right:before {
  content: '\e81d';
} /* '' */
icodex-chevron-left:before {
  content: '\e81e';
} /* '' */
icodex-upload:before {
  content: '\e81f';
} /* '' */
icodex-typography:before {
  content: '\e820';
} /* '' */
icodex-terminal:before {
  content: '\e821';
} /* '' */
icodex-tab:before {
  content: '\e822';
} /* '' */
icodex-sidebar-expand:before {
  content: '\e823';
} /* '' */
icodex-sidebar-collapse:before {
  content: '\e824';
} /* '' */
icodex-share:before {
  content: '\e825';
} /* '' */
icodex-trash:before {
  content: '\e826';
} /* '' */
icodex-repo-push:before {
  content: '\e828';
} /* '' */
icodex-repo:before {
  content: '\e829';
} /* '' */
icodex-question:before {
  content: '\e82a';
} /* '' */
icodex-plus-circle:before {
  content: '\e82b';
} /* '' */
icodex-person:before {
  content: '\e82c';
} /* '' */
icodex-pencil:before {
  content: '\e82d';
} /* '' */
icodex-paper-airplane:before {
  content: '\e82e';
} /* '' */
icodex-paste:before {
  content: '\e82f';
} /* '' */
icodex-package:before {
  content: '\e830';
} /* '' */
icodex-north-star:before {
  content: '\e831';
} /* '' */
icodex-package-dependents:before {
  content: '\e832';
} /* '' */
icodex-move-to-start:before {
  content: '\e833';
} /* '' */
icodex-move-to-end:before {
  content: '\e834';
} /* '' */
icodex-package-dependencies:before {
  content: '\e835';
} /* '' */
icodex-git-pull-request:before {
  content: '\e836';
} /* '' */
icodex-three-bars:before {
  content: '\e838';
} /* '' */
icodex-file-added:before {
  content: '\e839';
} /* '' */
icodex-search-2:before {
  content: '\e83a';
} /* '' */
