
.icon-icodex-file-plus-2:before { content: '\e800'; } /* '' */
.icon-icodex-inbox:before { content: '\e801'; } /* '' */
.icon-icodex-search-code:before { content: '\e802'; } /* '' */
.icon-icodex-folder-2:before { content: '\e803'; } /* '' */
.icon-icodex-git-branch:before { content: '\e804'; } /* '' */
.icon-icodex-folder:before { content: '\e805'; } /* '' */
.icon-icodex-home-2:before { content: '\e806'; } /* '' */
