@font-face {
  font-family: 'icodex-ui-fonts';
  src: url('../font/icodex-ui-fonts.eot?99389253');
  src: url('../font/icodex-ui-fonts.eot?99389253#iefix') format('embedded-opentype'),
       url('../font/icodex-ui-fonts.woff2?99389253') format('woff2'),
       url('../font/icodex-ui-fonts.woff?99389253') format('woff'),
       url('../font/icodex-ui-fonts.ttf?99389253') format('truetype'),
       url('../font/icodex-ui-fonts.svg?99389253#icodex-ui-fonts') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icodex-ui-fonts';
    src: url('../font/icodex-ui-fonts.svg?99389253#icodex-ui-fonts') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icodex-ui-fonts";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-gear:before { content: '\e800'; } /* '' */
.icon-file-symlink-file:before { content: '\e802'; } /* '' */
.icon-file-diff:before { content: '\e803'; } /* '' */
.icon-commit:before { content: '\e804'; } /* '' */
.icon-chevron-down:before { content: '\e805'; } /* '' */
.icon-arrow-right:before { content: '\e806'; } /* '' */
.icon-arrow-left:before { content: '\e807'; } /* '' */
.icon-move-to-bottom:before { content: '\e808'; } /* '' */
.icon-location:before { content: '\e809'; } /* '' */
.icon-link-external:before { content: '\e80a'; } /* '' */
.icon-link:before { content: '\e80b'; } /* '' */
.icon-key:before { content: '\e80c'; } /* '' */
.icon-kebab-horizontal:before { content: '\e80d'; } /* '' */
.icon-info:before { content: '\e80e'; } /* '' */
.icon-inbox:before { content: '\e80f'; } /* '' */
.icon-icodex-arrow-left:before { content: '\e810'; } /* '' */
.icon-icodex-alert:before { content: '\e811'; } /* '' */
.icon-home:before { content: '\e812'; } /* '' */
.icon-git-branch:before { content: '\e813'; } /* '' */
.icon-file-zip:before { content: '\e814'; } /* '' */
.icon-file-media:before { content: '\e815'; } /* '' */
.icon-file-directory:before { content: '\e816'; } /* '' */
.icon-file-code:before { content: '\e817'; } /* '' */
.icon-diff:before { content: '\e818'; } /* '' */
.icon-copy:before { content: '\e819'; } /* '' */
.icon-command-palette:before { content: '\e81a'; } /* '' */
.icon-codescan:before { content: '\e81b'; } /* '' */
.icon-chevron-up:before { content: '\e81c'; } /* '' */
.icon-chevron-right:before { content: '\e81d'; } /* '' */
.icon-chevron-left:before { content: '\e81e'; } /* '' */
.icon-upload:before { content: '\e81f'; } /* '' */
.icon-typography:before { content: '\e820'; } /* '' */
.icon-terminal:before { content: '\e821'; } /* '' */
.icon-tab:before { content: '\e822'; } /* '' */
.icon-sidebar-expand:before { content: '\e823'; } /* '' */
.icon-sidebar-collapse:before { content: '\e824'; } /* '' */
.icon-share:before { content: '\e825'; } /* '' */
.icon-trash:before { content: '\e826'; } /* '' */
.icon-search:before { content: '\e827'; } /* '' */
.icon-repo-push:before { content: '\e828'; } /* '' */
.icon-repo:before { content: '\e829'; } /* '' */
.icon-question:before { content: '\e82a'; } /* '' */
.icon-plus-circle:before { content: '\e82b'; } /* '' */
.icon-person:before { content: '\e82c'; } /* '' */
.icon-pencil:before { content: '\e82d'; } /* '' */
.icon-paper-airplane:before { content: '\e82e'; } /* '' */
.icon-paste:before { content: '\e82f'; } /* '' */
.icon-package:before { content: '\e830'; } /* '' */
.icon-north-star:before { content: '\e831'; } /* '' */
.icon-package-dependents:before { content: '\e832'; } /* '' */
.icon-move-to-start:before { content: '\e833'; } /* '' */
.icon-move-to-end:before { content: '\e834'; } /* '' */
.icon-package-dependencies:before { content: '\e835'; } /* '' */
.icon-git-pull-request:before { content: '\e836'; } /* '' */
.icon-folder-plus:before { content: '\e837'; } /* '' */
.icon-three-bars:before { content: '\e838'; } /* '' */
.icon-file-added:before { content: '\e839'; } /* '' */
